{% extends "base.j2" %}

{% block main -%}
<div class="row">
<div class="span11">
	<article class="post">
		<header>
			<h1>
			    <a href="{{ content_url(resource.url) }}">
			        {{ resource.meta.title }}
			    </a>
			</h1>
			<time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
			    <em class="posted-time">Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}</em>
			</time>
		</header>

		{% filter markdown|typogrify -%}
		{% mark post -%}
		{% block post -%}{%- endblock %}
		{%- endmark %}
		{%- endfilter %}
	</article>
</div>
</div>
{%- endblock %}