<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author.name }}">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}

    <title>{{ page.title }}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href='https://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic' rel='stylesheet' type='text/css' />
  </head>

  <body>

    <div class="container">      
        <div class="main-header">
            {% include custom/pages_list %}
            <h1 class="logo"><a href="/">fabio souto</a></h1>
        </div>

      <div class="content">
        <div class="clearfix"></div>
        {{ content }}
      </div>

    </div>
    {% include JB/analytics %}
    <div style="text-align: center;padding-top:10em; width: 25%; margin:0 auto;">
      <img src="https://crespum.eu/images/concello-de-vigo.png">
      <p style="font-size: 1em;">Fomento do emprendemento e a consolidación empresarial a través do traballo colaborativo. Vigo 2017.</p>
    </div>
  </body>
</html>
